p{
    font-size: 100px;
}
.sun{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 400px;
    height: 400px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_sun.jpg');
    border-radius: 50%;
    background-size: cover;
    -webkit-box-shadow: 0 0 1000px yellow;
        box-shadow: 0 0 1000px yellow;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.mercury{
    position: absolute;
    top: 800px;
    bottom: 0px;
    left: 0px;
    right: 1000px;
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_mercury.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 5s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

.venus{
    position: absolute;
    top: 800px;
    bottom: 0px;
    left: 0px;
    right: 400px;
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_venus_surface.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 15s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.earth{
    position: absolute;
    top: 800px;
    bottom: 0px;
    left: 400px;
    right: 0px;
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 15s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.mars{
    position: absolute;
    top: 800px;
    bottom: 0px;
    left: 1000px;
    right: 0px;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_mars.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.jupiter{
    position: absolute;
    top: 1600px;
    bottom: 0px;
    left: 0px;
    right: 1000px;
    margin: auto;
    width: 350px;
    height: 350px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_jupiter.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.saturn{
    position: absolute;
    top: 1600px;
    bottom: 0px;
    left: 0px;
    right: 250px;
    margin: auto;
    width: 291px;
    height: 291px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_saturn.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.uranus{
    position: absolute;
    top: 1600px;
    bottom: 0px;
    left: 350px;
    right: 0px;
    margin: auto;
    width: 127px;
    height: 127px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_uranus.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 5s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.neptune{
    position: absolute;
    top: 1600px;
    bottom: 0px;
    left: 800px;
    right: 0px;
    margin: auto;
    width: 120px;
    height: 120px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_neptune.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.pluto{
    position: absolute;
    top: 2400px;
    bottom: 0px;
    left: 0px;
    right: 1000px;
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url('http://www.fedtrek.com/staff/omega13a/celestia/omega_galaxy/textures/medres/pluto4.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 15s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

.ceres{
    position: absolute;
    top: 2400px;
    bottom: 0px;
    left: 0px;
    right: 500px;
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_ceres_fictional.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.moons{
    position: absolute;
    top: 3000px;
    bottom: 0px;
    left: 0px;
    right: 1100px;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_moon.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.io{
    position: absolute;
    top: 3000px;
    bottom: 0px;
    left: 0px;
    right: 600px;
    margin: auto;
    width: 104px;
    height: 104px;
    background-image: url('https://stevealbers.net/albers/sos/jupiter/io/io_rgb_cyl.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.europa{
    position: absolute;
    top: 3000px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 89px;
    height: 89px;
    background-image: url('http://static.nautil.us/6503_64dcf3c521a00dbb4d2a10a27a95a9d8.png');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.ganymede{
    position: absolute;
    top: 3000px;
    bottom: 0px;
    left: 500px;
    right: 0px;
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Map_of_Ganymede_by_Bj%C3%B6rn_J%C3%B3nsson_and_centered_by_J_N_Squire.jpg/400px-Map_of_Ganymede_by_Bj%C3%B6rn_J%C3%B3nsson_and_centered_by_J_N_Squire.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
.triton{
    position: absolute;
    top: 3000px;
    bottom: 0px;
    left: 1000px;
    right: 0;
    margin: auto;
    width: 77px;
    height: 77px;
    background-image: url('http://www.seasky.org/solar-system/assets/images/triton07_sk12.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 10s linear infinite;
}
@keyframes spin{
    100%{background-position: 100%;}
}
.background{
    background-image: url(https://www.solarsystemscope.com/textures/download/8k_stars.jpg);
}
